@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');
html {
    font-family: 'Kiwi Maru', serif;
}

body {
    height: 650px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    animation: loop 3s linear infinite alternate;
}

.page-message {
    writing-mode: vertical-rl;
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

@keyframes loop {
    0% {
        background-color: #EBF8EB;
    }
    100% {
        background-color: #66cc66;
    }
}